.App {
  text-align: center;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 2px solid rosybrown;
  margin: 5px;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  height: 380px;
  width: 380px;
  margin: auto
}
